@import '../../common/colors.scss';

.header{
    background-color: $secondary-color;
    height: 72px;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 720px){
        width: 100%;
        padding: 0 15px;
       
    }   
}
.header_logo a{
    color: $font-primary;
    font-size: 25px;
    font-weight: 600;
    text-align: center;

 @media (max-width: 720px){
     font-size: 15px;
    
 }   
}
.header_logo p{
    font-size: 25px;
    @media (max-width: 720px){
        font-size: 15px;
       
    }   
}
.header_github-image,
.header_github-image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;

    @media (max-width: 720px){
        width: 30px;
        height: 30px;
        border-radius: 50%;
       
    }   
}
.header_search-bar{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 6px;


    form{
        display: flex;
        justify-content: center;
        width: 50%;
        flex: 1;
        

        button{
            padding-right: 10px;
            font-size: 20px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 38px;
            border: none;
            background-color: white;
            border-radius: 6px;

            @media (max-width: 720px){
                font-size: 15px; 
            }   
        }
        
    }
    input{
        font-size: 18px;
        width: 100%;
        padding-left: 10px;
        height: 38px;
        outline: none;
        border: none;
        border-radius: 6px;
      
        @media (max-width: 720px){
            font-size: 13px; 
        }  
    }
    @media (max-width: 720px){
        width: 60%; 
    } 
    
}